/*general*/

body{
	background: #d0db97;
	font-family: Arial, Helvetica, sans-serif;
}
body {
	text-align: center;
	color: #181d27;
}
#table{
	border-collapse: collapse;
	margin-left: auto;
  	margin-right: auto;
}

#table td, #table th {
	border: 1px solid #69b578;
	padding: 8px;
	color: #181d27;
}

#table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #4CAF50;
	color: #181d27;
  }