.top-header{
    width: 30em;
    /* width: 100%; */
    background-color: #efefef;
}

.top-header-wrapper {
    width: 28.125em;
    /* width: 100%; */
    margin: 0 auto;
    overflow: hidden;
}
.logo{
    float: left;
    margin-top: 65px;
    margin-bottom: 50px;
}
.navigation{
    float: right;
    margin-top: 65px;
    margin-bottom: 50px;
}

.top-header-wrapper ul li{
    /* background-color: red; */
    display: inline-block;
    padding-left: 15px;
}

.mid-header{
    width: 30em;
    /* width: 100%; */
    background-color: #efefef;
    padding-bottom: 50px;
}
.wrapper {
    width: 28.125em;
    margin: 0 auto;
}
.slider-wrapper{
    overflow: hidden;
}
.slider{
    width: 80%;
    margin: 0 auto;
    border: 5px solid #fac012;
    padding: 20px 12px 100px 12px;
    /* background-color: red; */
}
.featured{
    float: left;
}
.details-btn{
    float: right;
    background-color: #1c1105;
    padding: 5px;
    /* width: 150px; */
}
.details-btn:hover{
    cursor: pointer;
}
.slider-items{
    /* clear: left; */
    border-top: 2px solid #23180c;
}

.slider-items ul li{
    list-style-type:none;
}

.slider-item{
    padding-top: 10px;
    width: 100%;
    overflow: hidden;
}

.slider-img{
    float: left;
    margin: 10px 15px 10px 15px;
}
.slider-item-content{
    float: left;
    padding: 10px;
} 

.bottom-header{
    width: 30em;
    /* width: 100%; */
    background-color: #1c1105;
    
}
.navbar ul li{
    list-style-type:none;
    padding: 5px;
}
.content-first{
    width: 30em;
    /* background-color: red; */
    /* width: 100%; */
}

.featured-products{
    margin-top: 20px;
}

.product-item{
    width: 100%;
    background-color: #f2f2f2;
    margin-bottom: 24px;
}

.item-title{
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    
}
.item-body{
    overflow: hidden;
}
.item-body-left{
    float: left;
    width: 10%;
}
.item-body-right{
    float: right;
    width: 85%;
    border-left: 6px solid #ffffff;
    border-top: 6px solid #ffffff;
}

.buttons-container{
    margin: 0 auto;
    width: 20%;
}


.latest-furniture{
    margin-top: 30px;
    /* width: 100%; */
    /* background-color: red; */
}
.furniture-item{
    border: 1px solid #ededed;
    margin-top: 20px;
}
.furniture-img{
    padding: 15px;
}

.content-second{
    width: 30em;
    background-color: #28231d;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    /* width: 100%; */
}

.dropdown-btn{
    border: 1px solid #ffffff;
    width: 90%;
    margin:5px 2px 5px 2px;
    padding-left: 10px;
}

.icon{
    position: relative;
    top: 10px;
    right: 0px;
    background-color: yellow;

}

.content-third{
    width: 30em;
    /* background-color: #28231d; */
    /* margin-top: 50px; */
    padding-top: 30px;
    padding-bottom: 30px;
    /* width: 100%; */
}

.post-item{
    width: 100%;
    margin-top: 20px;
    /* background-color: red; */
}
.post-body{
    padding-top: 10px;
    /* background-color: green; */
    overflow: hidden;
}
.date{
    float: left;
    /* width: 16.20%; */
    /* background-color: red; */
    border: 1px solid #dedede;
    padding: 10px;
}

.post-content{
    width: 85%;
    float: right;
    /* background-color: yellow; */
}

.content-fourth{
    width: 30em;
    background-color: #323232;
    /* margin-top: 50px; */
    padding-top: 30px;
    padding-bottom: 30px;
    /* width: 100%; */
}
.get-your-discounts{
    padding-left:20px;
}

