.top-header-spread{
    width: 100%;
    background-color: #efefef;
}
.top-header{
    
    max-width: 64em;
   
}

.top-header-wrapper {
    /* width: 28.125em; */
    width: 93.75%;
    margin: 0 auto;
    overflow: hidden;
}
.logo{
    float: left;
    margin-top: 34px;
    margin-bottom: 34px;
}
.navigation{
    float: right;
    margin-top: 34px;
    margin-bottom: 50px;
}

.top-header-wrapper ul li{
    /* background-color: red; */
    display: inline-block;
    padding-left: 15px;
}
.cart-info{
    display: none;
}
.mid-header-spread{
    width: 100%;
    background-color: #efefef;
}
.mid-header{
    /* width: 30em; */
    /* max-width: 64em; */
    padding-bottom: 50px;
}
.wrapper {
    /* width: 28.125em; */
    width: 93.75%;
    margin: 0 auto;
}

.slider{
    width: 80%;
    margin: 0 auto;
    border: 5px solid #fac012;
    padding: 20px 12px 100px 12px;
    /* background-color: red; */
}
.slider-wrapper{
    overflow: hidden;
    padding-bottom: 15px;
}
.featured-title{
    float: left;
}
.details-btn{
    float: right;
    margin-right: 5px;
    /* background-color: #1c1105;
    padding: 5px; */
    /* width: 150px; */
}
.details-btn:hover{
    cursor: pointer;
}
.slider-items{
    /* clear: left; */
    border-top: 2px solid #23180c;
}

.slider-items ul li{
    list-style-type:none;
}

.slider-item{
    padding-top: 10px;
    width: 100%;
    overflow: hidden;
}

.slider-img{
    float: left;
    margin: 10px 15px 10px 15px;
}
.slider-item-content{
    float: left;
    padding: 10px;
} 

.bottom-header-spread{
    width: 100%;
    background-color: #1c1105;
}
/* .bottom-header{
    max-width: 64em; 
     width: 100%;
} */
.navbar ul li{
    list-style-type:none;
    padding: 5px;
    /* background-color: red; */
}
.navbar img{
    margin-left: 10px;
    visibility: hidden;
}
.active .arrow{
    visibility: visible;
}

/* .content-first-spread{
    } */
/* ......................................*/

/* .content-first{
    max-width: 64em;
    background-color: red; 
     width: 100%;
} */

.featured-products{
    margin-top: 20px;
}

.product-item{
    width: 100%;
    background-color: #f2f2f2;
    margin-bottom: 24px;
}

.item-title{
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    
}
.item-body{
    overflow: hidden;
}
.item-body-left{
    float: left;
    width: 10%;
}
.item-body-right{
    float: right;
    width: 85%;
    border-left: 6px solid #ffffff;
    border-top: 6px solid #ffffff;
}

.buttons-container{
    margin: 0 auto;
    width: 20%;
    overflow: hidden;
}
.pagi-left {
    float: left;
}
.pagi-left:hover{
    cursor: pointer;
}
.pagi-right{
    float: right;
    cursor: pointer;
}


.latest-furniture{
    margin-top: 30px;
    /* width: 100%; */
    /* background-color: red; */
}
.furniture-item{
    border: 1px solid #ededed;
    margin-top: 20px;
}
.furniture-img{
    padding: 15px;
}
.cart-btn:hover{
    cursor: pointer;
}


.content-second-spread{
    background-color: #28231d;
    width: 100%;
}
.content-second{
    /* max-width: 64em; */
    
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    /* width: 100%; */
}

.dropdown-btn{
    border: 1px solid #ffffff;
    width: 90%;
    margin:5px 2px 5px 2px;
    padding-left: 10px;
}
.dropdown-btn:hover{
    background-color: #fac012;
    cursor: pointer;
}

.icon{
    position: relative;
    top: 10px;
    right: 0px;
    /* background-color: yellow; */

}

/* .content-third-spread{

} */
.content-third{
    /* max-width: 64em; */
    /* background-color: #28231d; */
    /* margin-top: 50px; */
    padding-top: 30px;
    padding-bottom: 30px;
    /* width: 100%; */
}

.post-item{
    width: 100%;
    margin-top: 20px;
    /* background-color: red; */
}

.post-body{
    padding-top: 10px;
    /* background-color: green; */
    overflow: hidden;
}
.date{
    float: left;
    /* width: 16.20%; */
    /* background-color: red; */
    border: 1px solid #dedede;
    padding: 10px;
}

.post-content{
    width: 85%;
    float: right;
    /* background-color: yellow; */
}


.content-fourth-spread{
    width: 100%;
    background-color: #323232;
}
.content-fourth{
    /* max-width: 64em; */
    
    /* margin-top: 50px; */
    padding-top: 30px;
    padding-bottom: 30px;
    /* width: 100%; */
}
.get-your-discounts{
    padding-left:20px;
}

/* .content-fifth-spread{

} */
.content-fifth{
    /* max-width: 64em; */
    /* margin-top: 50px; */
    padding-top: 30px;
    padding-bottom: 30px;
    /* width: 100%; */
}
.collection-tab{
    margin:0 auto;
   
     /** why not inline block**/
    /* background-color: red; */
}
.collection-tab .tab-btn{
    margin: 5px;
}
.collection-container{
    margin-top: 15px;
}

.collection-item{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    /* background-color: red; */
}
.collection-item:hover{
    cursor: pointer;
}
.collection-content{
    display:none;
}


.content-sixth-spread{
    width: 100%;
    background-color: #f7f7f7;
}
.content-sixth{
    /* max-width: 64em; */
    margin-top: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    
    /* width: 100%; */
}

.contact-form{
    margin-top: 15px;
    /* text-align: center; */
}


.footer-spread{
    width: 100%;
    background-color: #1c1105;
}
.footer{
    /* max-width: 64em; */
    margin-top: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.social-media
{
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.social-left{
    float: left;
    width: 50%;
}
.social-right{
    float: right;
    width: 50%;
}
.media-item{
    overflow: hidden;
    margin-bottom: 15px;
}
.media-item img{
    float: left;
}
.media-item-right{
    float: left;
    margin-left: 10px;
}

.footer-mid-container{
    overflow: hidden;
}
.latest-products{
    float: left;
    width: 50%;
}
.top-sellers{
    float: left;
    width: 50%;
}

.footer-container{
    padding:20px 0px;
}

.footer-item{
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 15px;
}
.footer-item-img{
    float: left;
    /* width: 31.83%; */
    width: 15%;
}
.footer-item-right{
    float: left;
    margin-left: 15px;
}

.feed-container{
    margin-top:15px;
}
.instagram-feed ul li{
    display: inline-block;
}

.copyright-container{
    margin-top: 20px;
}
