@media only screen and (min-width:768px){
    .cart-info{
        display: initial;
        font-size: 28px;
    }
    .navigation sup{
        display: initial;
        vertical-align: top;
    }
    
    .products-item-container{
        width: 100%;
    }
    .content-first ul{
        width: 100%;
        text-align: center;
        overflow: hidden;
    }
    .products-item-container ul li{
        /* display: inline-block; */
        float: left;
        width: 47%;
        margin: 10px;
    }
    .buttons-container{
        width: 10%;
    }

    .furniture-container ul li{
        display: inline-block;
        /* float: left; */
        width: 47%;
        margin-right: 10px;
    }
    .content-third ul{
        width: 100%;
        text-align: center;
        overflow: hidden;
    }
    .post-container ul li{
        /* display: inline-block; */
        float: left;
        width: 48%;
        margin-right: 10px;
    }
    .content-fifth ul{
        width: 100%;
        text-align: center;
    }
    .collection-container ul li{
        display: inline-block;
        width: 48%;
    }

    .footer-container{
        overflow: hidden;
    }
    .footer p{
        font-size: 11px;
    }

    .about{
        float: left;
        width: 50%;
    }
    .footer-mid-container{
        float: left;
        width: 50%;
    }
    
    .instagram-feed{
        float: left;
    }

    
}

@media only screen and (min-width:1024px){
    .top-header{
        max-width: 100%;
        /* width: 100%; */   
    }
    .wrapper {
        width: 59.375%;
        margin: 0 auto;
    }
    .top-header-wrapper ul li{
        padding-left: 30px;
    }
    
    .slider{
        width: 72.719%;
        margin: 0 auto;
    }
    .slider-wrapper{
        padding-top: 15px;
    }
    .slider-items{
        border-top: 2px solid #23180c;
        padding-bottom: 50px;
    }
    .slider-items ul{
        overflow: hidden;
    }
    .slider-item{
        float: left;
        width: 33%;
    }
    .slider-img{
        margin: 10px 0px;
    }
    .slider-item-content{
        padding: 10px;
    } 
    .navbar ul{
        text-align: center;
    }
    .navbar ul li{
        display:inline-block;
        padding: 24px 0px 24px 0px;
        margin:0px 10px;
    }

    .navbar ul li a{
        font-size: 11px;
    }
    
    .products-item-container{
        width: 100%;
    }
   

    .products-item-container ul li{
        float: left;
        width: 30%;
        margin: 10px;
    }

    .furniture-container ul li{
        display: inline-block;
        width: 23%;
        margin-right: 10px;
    }
    .why-choose{
        overflow: hidden;
    }
    .why-choose-container{
        float: right;
        width: 51%;
    }
    .post-content p{
        text-align: left;
    }
    
    .post-container ul li{ 
        width: 32%;
        margin-right: 10px;
    }
    .post-content{
        width: 80%;  
    }

    .content-fourth-spread{
        background-color:#f6f6f6;
        background-image: url("../images/discounts-backg.png");
        background-size:contain;
        background-repeat: no-repeat;
        background-position: right;
    }
    .discounts-container{
        overflow: hidden;
    }
    .get-your-discounts{
        float: right;
        width: 46.22%;
    }

    .collection-container ul li{
        display: inline-block;
        width: 33%;
    }

    .contact{
        overflow: hidden;
        margin-top: 15px;
    }
    
    .contact-title{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .contact-detail{
        float: left;
        width: 14.91%;
    }
    .contact-form{
        float: right;
        width: 54.56%;
    }

    .about{
        width: 23.42%;
    }
    .footer-mid-container{
        margin-left: 36px;
        width: 47.10%;
    }
    
    .instagram-feed{
        width: 17%;
        margin-left: 36px;
    }
    .instagram-feed ul li{
        width: 45%;
    }
}