.title{
    font-size: 24px;
}
.big{
    font-size: 16px;
}
.medium{
    font-size: 14px;
}
h1{
    font-size: 28px;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 16px;
}
.light{
    font-weight: lighter;
}
.bold{
    font-weight: bold;
}
.small{
    font-size: 11px;
}

.txt-white{
    color: #ffffff;
}
.txt-small{
    font-size: 11px;
}
.center{
    text-align: center;
}
.navbar ul li a{
    text-decoration: none;
    color: #ffffff;
}
.furniture-title{
    padding: 10px;
}
.latest-furniture p{
    text-align: center;
    padding: 10px;
}
.navigation ul li:hover{
    cursor: pointer;
}

.content-first hr{
    width: 20%;
    border: 1px solid #e7e7e7;
    margin: 0 auto;
}
p.price{
    color: #fac012;
    padding: 20px;
}

.furniture-img:hover{
    cursor: pointer;
}
.link{
    cursor: pointer;
}
.cart-btn{
    /* width: 100%; */
    background-color: #fac012;
    padding: 10px;
}
.cart-btn-txt{
    color: #ffffff;
    display: block;
}
.navbar a:hover{
    color: #fac012;
}

.content-second h2{
    padding: 10px 0px;
    color: #ffffff;
}
.content-second p{
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.content-second hr{
    width: 10%;
    border: 1px solid #fac012;
}

.content-third p {
    /* padding-top: 10px; */
    padding-bottom: 10px;
}

.content-third h2{
    padding: 10px;
}
.content-third hr{
    width: 20%;
    border: 1px solid #e7e7e7;
    margin: 0 auto;
}

.post-link{
    color: #fac528;
}
.post-link:hover{
    cursor: pointer;
}

.content-fourth h2{
    padding: 10px 0px;
    color: #ffffff;
}

.paragraph {
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
}
.content-fourth hr{
    width: 10%;
    border: 1px solid #ffffff;
}

.content-fourth input{
    display: block;
    width: 90%;
    border: 1px solid #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #323232;
    color: #ffffff;
}

.subscribe-btn{
    margin: 15px 0px;
    display: inline-block;
    background-color: #ffffff;
    color: #1c1105;
    /* padding: 10px 15px;   */
}
.subscribe-btn:hover{
    cursor: pointer;
}

.content-fifth h2{
    padding: 10px;
}

.content-fifth p {
    padding-top: 10px;
    padding-bottom: 10px;
}

.content-fifth hr{
    width: 20%;
    border: 1px solid #e7e7e7;
    margin: 0 auto;
    margin-bottom: 10px;
}


.collection-tab ul li{
    display:  inline-block;
    font-size: 11px;
    width: 18%;
    text-align: center;
}
.tab-btn{
    border:1px solid #d5d5d5;
    padding-top: 5px;
    padding-bottom: 5px;
}
.tab-btn a{
    display: block;
    color: #1c1105;
}
.tab-btn a:hover{
    color: #ffffff;
}
.tab-btn:hover{
    cursor: pointer;
    background-color: #fac012;
}

.contact-txt{
    font-size: 11px;
    text-align: center;
}
.contact-detail p{
    text-align: center;
}
.contact-detail ul{
    list-style: none;
    text-align: center;
    margin-top: 15px;
}
.contact-detail ul li{
    display: inline-block;
}
.content-sixth input, textarea{
    display: block;
    border: 1px solid #dadada;
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f7f7f7;
    margin-left: auto;
    margin-right: auto;
}

.send-btn{
    margin-left: 15px;
    display: inline-block;
    background-color: #1c1105;
    /* padding: 10px 15px;     */
}
.send-btn:hover{
    cursor: pointer;
}

.about p{
    color: #594d40;
}

.txt-dark{
    color: #594d40;
}
.footer-price{
    color:#fac012;
}
/* .footer-item-right span{
    text-decoration: line-through;
} */
.line{
    text-decoration: line-through;
}

.read-more a{
    color: #fac012;
    font-size: 11px;
    vertical-align: center;
    margin-top: 20px;
}
.footer p{
    margin-bottom: 5px;
}

.footer hr{
    width: 20%;
    border: 1px solid #fac012;   
}

.footer hr.last-line{
    width: 100%;
    border: 1px solid #281909; 
    margin-bottom: 15px;  
}

/* .details-btn{
    background-color: #1c1105;
    padding: 5px 15px;
} */

.btn-container{
    width: 50%;
    visibility: hidden;
}
.item-body-right:hover .btn-container{
    
    visibility: visible;
    cursor: pointer;
}

.button-dark {
    position: relative;
    background-color: #1c1105;
    color: #fff;
    padding: 10px 20px;
    /* width: 100px; */
    text-align: center;
}
.button-light {
    position: relative;
    background-color: #ffffff;
    /* color: #fff; */
    padding: 10px 20px;
    /* width: 100px; */
    text-align: center;
  }

.outer-btn{
    position: absolute;
    bottom: -7px;
    right: -7px;
}

.outer-right{
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("../images/outer-btn.png");
    background-size: cover;
    top: 10px;
    right: -10px;
}
.dropdown-btn:hover .outer-right{
    background-image: url("../images/outer-down.png");
}

.slider-item:hover{
    cursor: pointer;
}

.slider-left{
    position: absolute;
    width: 35px;
    height: 35px;
    background-image: url("../images/slider-left.png");
    background-size: cover;
    top: 130px;
    left: -20px;
}
.slider-left:hover{
    cursor: pointer;
    background-image: url("../images/slider-left-active.png");
}
.slider-right{
    position: absolute;
    width: 35px;
    height: 35px;
    background-image: url("../images/slider-right.png");
    background-size: cover;
    top: 130px;
    right: -20px;
}
.slider-right:hover{
    cursor: pointer;
    background-image: url("../images/slider-right-active.png");
    
}
.social-media .media-item:hover .social-link{
    color: #fff;
    cursor: pointer;
}
