body{
    background-color: #d0db97;
}

#root{
    margin-top: 10px;
}


.field{
    margin: 0 auto;
    /* background-image: url('../images/lane.png'); */
    background-size: contain;
    background-repeat: repeat-y;
    border: 2px solid black;
    position: relative;
    box-shadow: 0 0 10px 2px;
    
}

#root{
    overflow: hidden;
}